@media print {
	form {
		display: none;
	}

	#topMast {
		display: none;
	}

	#noPrint {
		display: block;
	}

	#noPrint h1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

     #warnPic {
	     display: block;
	     margin-left: auto;
	     margin-right: auto;
     }
}